main{
    width: 450px;
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
}

.container{
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
}

.container button{
    width: 150px;
    height: 150px;
    font-size: 60px;
    margin: 25px;
}