*{
    padding: 0;
    margin: 0;
}

#dragBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 200px;
    background-color: gray;
    border-radius: 10px;
    color: #fff;
    font-size: 60px;
    text-align: center;
    line-height: 200px;
}

#drag{
    margin: 10px;
    width: 200px;
    height: 100px;
    background: linear-gradient(to right, red, orange, yellow, yellowgreen, green, aqua, blue, purple, pink);
    border-radius: 10px;
    color: #000;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    line-height: 100px;
}

#drop{
    margin: 10px;
    width: 300px;
    height: 150px;
    border: 2px solid black;
    border-radius: 5px;
}

main{
    display: flex;
}

.container{
    margin: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
}

.draggable{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin: 10px;
    cursor: move;
    font-size: 32px;
    background: rgba(0, 0, 0, 0.4);
    line-height: 70px;
    text-align: center;
}

.boxContainer{
    display: flex;
}

#box1, #box2, #box3, #box4{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 10px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box img{
    width: 200px;
    height: 200px;
    border:  2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}