*{
    padding: 0;
    margin: 0;
}

#dragBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 200px;
    /* background: linear-gradient(to right, red, orange, yellow, yellowgreen, green, aqua, blue, purple, pink); */
    background-color: gray;
    border-radius: 10px;
    color: #fff;
    font-size: 60px;
    text-align: center;
    line-height: 200px;
}