*{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
}

nav{
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #111;
    color: aliceblue;
    display: flex;
}

nav ul{
    padding-left: 0;
    display: flex;
}

nav ul li{
    width: 100px;
    height: 100%;
    text-align: center;
    line-height: 70px;
    font-size: 18px;
}

.logo{
    width: 150px;
    font-size: 24px;
}

nav input{
    width: 250px;
    height: 40px;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
    border: none;
    border-radius: 10px;
}

.contentArea{
    width: 100%;
    background-color: beige;
    display: flex;
    justify-content: center;
}

.content{
    width: 1320px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.content > .card{
    width: 300px;
    height: 400px;
    background-color: #fff;
}

.card img{
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

.textBox{
    position: relative;
    width: 300px;
    height: 200px;
    padding: 20px;
}

.textBox h2{
    font-weight: 900;
}

.subText{
    color: gray;
    font-size: 18px;
}

.price{
    font-style: 24px;
    font-weight: 600;
}

.textBox button{
    padding: 5px 10px;
    border: none;
    position: absolute;
    right: 20px;
    background-color: #111;
    color: #fff;
    border-radius: 10px;
}